<html xmlns:th="http://www.thymeleaf.org">

  <footer th:fragment="footer">
    <div class="footer_box b1">
      <div class="footer_nav">
        <h1>PRODUCTS</h1>
        <br>
        <ul>
          <li><a href="/aboutus">All Products</a></li>
          <li><a href="/contactus">Graphic Cards</a></li>
          <li><a href="/faq">CPU's</a></li>
          <li><a href="/faq">Monitors</a></li>
          <li><a href="/faq">Keyboards</a></li>
          <li><a href="/faq">Mouses</a></li>
        </ul>

      </div>



    </div>


    <div class="footer_box b2">
      <h1>ACCOUNT</h1>

      <br>
      <div class="footer_nav">
        <ul>

          <li><a href="/basket">Basket</a></li>
          <li><a href="/login">Log In</a></li>
          <li><a href="/login">Sign Up</a></li>


        </ul>

      </div>



    </div>

    <div class="footer_box b3">

      <div class="logo">
        <img src="/Images/logo.png" alt="logo" width="250">
      </div>



      <div class="icons">

        <a href="https://www.instagram.com/">
          <i class='bx bxl-instagram'></i>
        </a>

        <a href="https://www.facebook.com/">
          <i class='bx bxl-facebook'></i>
        </a>

        <a href="https://twitter.com/">
          <i class='bx bxl-twitter'></i>
        </a>



      </div>



    </div>



  </footer>