<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <section th:fragment="styles">
        <link href="/css/style.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <!--<link rel="stylesheet" href="https://kit.fontawesome.com/292fc0df48.css" crossorigin="anonymous">-->
    </section>
</head>
<body>
<section th:fragment="header">

    <nav>
        <div class="wrapper">
            <div class="logo">
                <a th:href="@{/home}"><img src="/Images/logo.png" width="200px"></a>
            </div>
            <div class="pages">
                <ul>
                    <li><a th:href="@{/home}" class="active">Home</a></li>
                    <li><a th:href="@{/products/search}">Products</a></li>
                    <li><a th:href="@{/aboutus}">About us</a></li>
                    <!-- When user is logged in -->
                    <li th:if="${#request.userPrincipal != null}"><a th:href="@{/orders/past_orders}">Orders</a></li>
                    <li th:if="${#request.userPrincipal != null}"><a th:href="@{/user-dashboard}">Dashboard</a></li>
                </ul>
            </div>
            <div class="right-icons">
                <div class="person">
                    <a th:href="@{/home}" style="display: block;" ><i class="fas fa-user"></i></a>
                    <div class="dropdown-menu">
                        <li th:if="${#request.userPrincipal == null}"><a th:href="@{/login}">Login</a></li>
                        <li th:if="${#request.userPrincipal == null}"><a th:href="@{/register}">Signup</a></li>
                        <li th:unless="${#request.userPrincipal == null}"><a href="javascript:;"
                                                                             onclick="document.getElementById('logoutForm').submit();"
                                                                             role="menuitem">Logout</a></li>
                    </div>
                </div>
                <a th:href="@{/basket}"><i class="fas fa-shopping-basket"></i></a>
            </div>
        </div><!--wrapper-->
        <!-- Hidden form so that the login link works -->
        <form name="logoutForm" th:action="@{/logout}" method="post" id="logoutForm">
            <input hidden type="submit" value="Sign Out"/>
        </form>

</section>
</body>
</html>