*{ 
    font-family: sans-serif;
  }
  
  .body{
    background-color: #e7e7e7;
  }
  
  .login-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    box-shadow:  -26px 26px 52px #bebebe;
    width: 75vh;
    margin-top: 7vh;
  }
  
  .login-form{
    padding: 0px 30px 0px 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-area: 1 / 1 / 2 / 2;
  
  }
  
  .login-form h3{
    padding: 50px 0px 0px 0px;
    font-weight: 500;
    font-size: 1.5rem;
    vertical-align: bottom;
    margin: 0%;
    margin-left: 5px;
  }
  
  .login-form .inputs-contact{
    margin:15px 0px 15px 0px;
  }
  
  .login-form .inputs-contact input{
    width: 80%;
    padding: 8px;
  }
  
  .inputs-contact input{
    line-height: 28px;
    border: 2px solid transparent;
    border-bottom-color: #777;
    padding: .2rem 0;
    outline: none;
    background-color: transparent;
    color: #0d0c22;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .inputs-contact input:focus, input:hover{
    outline: none;
    border-bottom-color: #acef20;
  }
  
  .inputs-contact input:hover::placeholder, .inputs-login input:focus::placeholder{
    color:#acef20;
  }
  
  .spacing{
    padding:20px;
  }
  
  .login-form button {
    font-size: 12px;
    position: relative;
    margin-top:20px;
    padding: 1em 2.5em 1em 2.5em;
    border: none;
    background-color:#acef20 ;
    transition: all 0.1s linear;
    box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
  }
  
  .login-form button:active {
  transform: scale(0.95);
  }
  
  .login-form button span {
  color: #ffff;
  }
  
  .login-form button .border {
  position: absolute;
  border: 0.15em solid #acef20;
  transition: all 0.2s 0.08s linear;
  top: 50%;
  left: 50%;
  width: 6em;
  height: 2em;
  transform: translate(-50%, -50%);
  }
  
  .login-form button:hover .border {
  display: block;
  width: 7.9em;
  height: 3.5em;
  }
  
  .login-form .green-rounded {
  border-radius: 2em;
  }
  
  .login-form p {
    font-size: 12px;
    padding-top: 20px;
  }
  
  .login-form a{
    text-decoration: none;
    color: #000;
  }
  
  .login-form a:hover {
    color:#31b700;
  }
  
  
  .login-video{
    grid-area: 1 / 2 / 2 / 3;
  }
  
  .login-video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
   
  
  
   
    