button {
    border: none;
    font-family: sans-serif;
    font-size: 15px;
    background: transparent;
    color: #323232;
    border: solid 1px #323232;
    padding: 10px;
    border-radius: 4px;
    transition-duration: 0.2s;
}

button:before {
    content: "»";
    opacity: 0;
    margin-left: -15px;
    transition-duration: 0.2s;
}

button:hover:before {
    margin-left: 0px;
    opacity: 1;
}

button:hover {
    color: #169c0a;
    background: #e7e7e7;
    border: solid 1px #169c0a;
}
