*{ margin:0; padding:0; list-style-type:none; border:0; outline:none; text-decoration:none;}
body{  margin:0; padding:0; font-family: 'Lato', sans-serif; }
a, a:hover{ transition:500ms linear color, 500ms linear background, 500ms linear border;}
.c{ clear:both;}
.wrapper{ width:96%; max-width:960px; margin:auto;}
.top_bar{ width:100%; min-height:32px; height:auto; background:#0055a5;}
.top_bar .wrapper ul li{ float:left; color:#fff; font-size:11px; padding:0 11px; line-height:28px;}
.top_bar .wrapper ul li a{ color:#fff; font-weight:bold;}
.right{ float:right !important;}
.top_bar .wrapper ul li a:hover{ color:#000;}
.top_bar .wrapper ul.social li{ border-right:1px solid #004898; text-align:center;}
.top_bar .wrapper ul.social li a{ width:30px; height:22px; display:block; padding-top:10px;}
.top_bar .wrapper ul.social li:first-child{ background:#fff;}
.header_top{ width:100%;  min-height:118px; height:auto;}
.logo{ width:210px;  height:110px;  float:left; background:#fff; border-radius:0 0 22px 22px; padding-top:7px;}
.main_nav{  min-height:82px; height:auto; float:right; margin-top:43px;}
nav{ width:100%; float:right; min-height:40px; height:auto;}
nav ul li{ float:left; margin:0 2px;}
nav ul li a{ padding:10px 12px; color:#fff; text-transform:capitalize; border:1px solid rgba(255, 255, 255, 0); font-size:12px; text-transform:uppercase; letter-spacing:1px;}
nav ul li a:hover, nav ul li a.active{ border:1px solid #fff;}

header{ width:100%; min-height:315px; height:auto; text-align:center; padding-bottom:20px;}
header .header_content{ width:82%; min-height:230px; height:auto; text-align:center; float:left; margin:45px 0 0 8%; }
header .header_box{ width:9%; min-height:240px; height:auto; text-align:center; float:right; margin-top:-20px;}
header .header_content h1, header .header_content h2{font-size:36px;  font-weight:300; color:#fff;  text-transform:uppercase; margin:auto; text-shadow:0 0 3px #000;}
header .header_content h2{ font-size:15px; letter-spacing:6px; line-height:15px;}
header .header_content a{margin:auto;float:none;}
header .header_content a.logo{ width:215px; height:70px; border-radius:10px; background:#dadce0; padding-top:5px;  display:block; margin:45px auto 0 auto;}
header .header_content a.learn, .main_contact ul li input[type="submit"], .learn{ padding:10px 14px; background:#0055a5;   border:2px solid #fff; color:#fff; letter-spacing:2px; font-size:12px; text-transform:uppercase; margin-top:30px;}
.mar_bot{ margin-bottom:30px;}

/*slider*/
#carousel div {
	height: 500px;
	float: left;
}
#carousel img {
	min-width: 100%;
	min-height: 432px;
}
.back_area{ width:100%; height:432px; overflow:hidden; position:absolute; z-index:-9999; top:32px;}



.home_row1{ width:100%; min-height:380px; height:auto;  border-top:1px solid #0055a5;  margin-top:40px;}
.home_row1 h1{ width:17%; padding:0 12px; background:#fff; margin:-28px auto; height:56px; font-size:15px; text-transform:uppercase; letter-spacing:2px;color:#0055a5; line-height:56px; text-align:center;}
.home_row1_col1{ width:70%; min-height:280px; height:auto; float:left; margin-top:45px;}
.home_row1_col1 img{ border:2px solid #0055a5; float:left; border-radius:3px;}
.home_row1_col1_row1{ width:58%; min-height:270px; height:auto; float:right; }
.home_row1_col1_row1 h1, .home_row1_col1_row1 h2{ line-height:30px; margin:0; height:25px;width:100%; font-size:16px; color:#0055a5; float:left; text-align:left; padding:0; }
.home_row1_col1_row1 h2{ font-size:12px; color:#9da1aa; margin:5px 0;font-weight:normal;}
.home_row1_col1_row1 p, .inner_con p{ font-size:15px; color:#818894; padding:15px 0; border-top:1px solid #e5e6eb; width:100%; float:left; line-height:30px; text-align:justify;}
.home_row1_col1_row1 a, .home_row1_col1 ul li input[type="submit"], .butn{ font-size:13px; text-transform:uppercase; color:#fff; padding:15px 30px;float:left; background:#0055a5; box-shadow:0 3px 0 #002a52; border-radius:5px;}


.home_row1_col2{ width:25%; min-height:280px; height:auto; float:right; margin-top:45px;}
.home_row1_col2 h2{ font-size:16px; color:#333333; width:100%; padding-bottom:15px;border-bottom:1px solid #e5e6eb;}
.home_row1_col2 ul li a{ padding:20px 0; color:#b2b7be; border-bottom:1px solid #e5e6eb; float:left; width:100%;}
.home_row1_col2 ul li a:hover, .home_row1_col2 ul li a.active{ color:#0055a5;}
.home_row1_col2 ul li:nth-child(4n) a{ border:0;}

.home_row2{ width:100%; min-height:339px; height:auto; background:url(../images/footer_bg.jpg) no-repeat center center #0055a5 ;}
.home_row2_inner{border-top: 1px solid #fff; margin-top:33px; float:left; min-height:300px;}
.home_row2_inner h1{ background:#0055a5; box-shadow:0 0 5px #0055a5; color:#fff; margin-bottom:10px;}
.home_row2_col1{ width:35%; min-height:250px; height:auto; float:left;}
.home_row2 h2{ color:#fff; font-size:17px; text-transform:uppercase; margin-bottom:18px;}
.home_row2 ul li{ background:url(../images/icon_5.png) left center no-repeat; padding-left:47px; margin:5px 5px; font-size:14px; min-height:36px; color:#fff; line-height:36px;}
.home_row2 ul li:nth-child(1){ line-height:15px;}
.home_row2 ul li:nth-child(3){ background-image:url(../images/icon_6.png);}
.home_row2 ul li:nth-child(4){ background-image:url(../images/icon_7.png);}
.home_row2 ul li:nth-child(5){ background-image:url(../images/icon_8.png);}
.home_row2_col2{ width:51%; min-height:250px; height:auto; float:right; }
.home_row2_col2 input:nth-child(4n){ margin-top:8px;}
.home_row2_col2 input, .home_row2_col2  textarea{ width:45%; height:30px; background:none; border:1px solid#fff; margin-right:18px; color:#fff; font-size:12px; text-indent:10px; float:left;}
::-webkit-input-placeholder{ color:#fff;}::-moz-input-placeholder{ color:#fff;}::-o-input-placeholder{ color:#fff;}::-ms-input-placeholder{ color:#fff;}
.home_row2_col2  textarea{ width:94%; height:80px; margin-top:8px;}
.home_row2_col2 input[type="submit"]{ background:#fff; color:#0055a5; text-transform:uppercase; letter-spacing:1px; font-weight:bold; text-indent:0; margin-right:0;margin-top:12px; cursor:pointer;}

.home_row1 p.para1{ width:100%; text-align:center; color:#818894; font-size:16px; letter-spacing:1px; margin:45px auto 0px auto;}
.half{ width:70%;}
.home_row1_col1 ul li{ width:31%; float:left; margin:5px 2% 5px 0;}
/*.home_row1_col1 ul li:nth-child(1),*/ .home_row1_col1 ul li:nth-child(3){ margin-right:0;}
.home_row1_col1 ul li p{ color:#818894; font-size:14px; width:100%; margin-bottom:3px;}
.home_row1_col1 ul li p span{ font-size:8px;}
.home_row1_col1 ul li input, .home_row1_col1 ul li select, .home_row1_col1 ul li textarea{ color:#818894; font-size:14px; width:100%; height:26px; border:1px solid #bcbcbe; text-indent:7px;}
.home_row1_col3{ width:30%;}
.home_row1_col3 img{ border:4px solid #fff; box-shadow:0 0 7px #333;}
.per30{ width:28% !important;}
.home_row1_col1 ul li textarea{ height:90px;}
.home_row1_col1 ul li input[type="submit"]{ border:0; font-size:16px; line-height:10px; cursor:pointer; padding:21px; box-shadow:0 7px 0 #053f76;}



/*inner*/
.body_inner{ background:url(../images/header_inner.jpg) repeat-x center top;}
.inner_head{ min-height:150px !important; width:100% !important; padding:0; margin:0 auto !important;}
.inner_con p{ border:0; text-align:center;}
.inner_col1{ width:25%; padding-right:5%;  height:auto;  border-right:1px solid #efefef;  margin-top:80px; float:left;}
.inner_col2{ width:65%; border-right:0;  float:right; padding:0;}

.inner_col1 h1{ width:100%; background:#0055a5; color:#fff;}
.inner_col1 h5{ color:#0055a5; font-size:14px; font-style:italic; padding-top:40px;}
.inner_col1 h2{ color:#666; font-size:16px; margin-top:4px;}
.inner_col1 p{ line-height:20px; font-size:12px; 	}
.learn{ letter-spacing:0; padding:10px 15px; font-size:12px;}
.inner_col1 h5:first-child{ padding-top:0;}
.about_box{ width:47%; margin:auto; text-align:center;}
.about_box h5, .main_project ul li h5{ color:#0055a5;}

/*-------------------- Products --------------------------*/
.video-container {
    height: 350px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    min-width: 100%;
}

.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

.video-container .caption {
  z-index: 1;
  position: relative;
  font-size:60px;
  font-weight:1200px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin:auto;
  width:50%;

}

.caption p{
    font-size: 18px;
    color: #fff;
    font-family: inherit;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
}


button {
    font-size: 18px;
    color: #fff;
    font-family: inherit;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

.pro_row1{width:100%; float:left;}
.pro_col{width:33.33%; float:left; text-align:center; border-right:2px;}

/*-------------------- LOGIN AND SIGNUP -------------------*/

.b-video{
   position: absolute;
   right: 0;
   bottom: 0;
   z-index: -1;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  margin: 20px auto;
  transform: translate(-50%, -55%);
  box-sizing: border-box;
  backdrop-filter: blur(12px) saturate(155%);
  -webkit-backdrop-filter: blur(12px) saturate(155%);
  background-color: rgba(0, 0, 0, 0.92);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.login-box form{
    width: 400px;
}

.login-box p {
  padding: 30px 0px 20px 0px;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-weight:bold;
  letter-spacing: 1px;
}

.login-box input{
    font-size: 14px;
    border-radius: 6px;
    line-height: 1.5;
    height: 15px;
    width:95%;
    margin-bottom: 15px;
    transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
    border: none;
    color: #e0e0e0;
    background: #131313;
    display: block;
    height: 36px;
    padding: 8px 10px;
    margin-top:10px;
}

.submit-btn {
 position: relative;
 font-size: 15px;
 text-decoration: none;
 padding: 12px 18px;
 display: inline-block;
 border-radius: 6em;
 transition: all .2s;
 border: none;
 font-family: inherit;
 font-weight: 600;
 color: #e0e0e0;
 background-color: #131313;
 margin-bottom: 15px;
 margin-top: 20px;
}

.submit-btn:hover {
 transform: translateY(-3px);
 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.submit-btn:active {
 transform: translateY(-1px);
 box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.submit-btn::after {
 content: "";
 display: inline-block;
 height: 100%;
 width: 100%;
 border-radius: 100px;
 position: absolute;
 top: 0;
 left: 0;
 z-index: -1;
 transition: all .4s;
}

.submit-btn::after {
 background-color: #460a47;
}

.submit-btn:hover::after {
 transform: scaleX(1.4) scaleY(1.6);
 opacity: 0;
}

.submitting{
    display: flex;
    justify-content:center;
}

.redirecting{
    display: flex;
    justify-content:center;
}

.login-box h3, a{
    color: #e0e0e0;
    font-size: 16px;
    margin-top: 10px;
}

.login-box a:hover {
    color: #460a47;
}



















































































