<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/css/aboutus.css">
    <div th:replace="fragments/nav_bar :: styles"></div>
    <!-- import boxicons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>

    <div th:replace="fragments/nav_bar :: header"></div>
    <!--
    <div class="bottom-content">
        <h1>About Us</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <div class="social-icons">
            <a>
                <ion-icon name="logo-twitter"></ion-icon>
            </a>

            <a>
                <ion-icon name="logo-facebook"></ion-icon>
            </a>

            <a>
                <ion-icon name="logo-instagram"></ion-icon>
            </a>
-->
    <div class="about_us__container">
        <div class="container2">
            <div class="sub-page">
                <h2>About Us</h2>
            </div>
        </div>
    </div>


    <div class="container3 container">
        <div class="c3padder">
            <img src="/Images/aboutus_pic.jpg" alt="aboutus" width="450">
            <h3><span>About Us</span></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>

    <div class="container4 container">
        <div class="c4padder">
            <iframe width="480" height="315" src="https://www.youtube.com/embed/gPJyhygM7GI" frameborder="0" allowfullscreen></iframe>
            <h3><span>We Strive To Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, aperiam.</span></h3>
        </div>
    </div>

    <div class="container3 container">
        <div class="c4padder">
            <h3><span>If you like our products..</span></h3>
            <div class="button">
                <a href="/contactus">SHOP</a>
            </div>
        </div>
    </div>


    <div class="padding">
    </div>


    <footer>
        <div class="footer_box b1">
            <div class="footer_nav">
                <h1>PRODUCTS</h1>
                <br>
                <ul>
                    <li><a href="/aboutus">All Products</a></li>
                    <li><a href="/contactus">Graphic Cards</a></li>
                    <li><a href="/faq">CPU's</a></li>
                    <li><a href="/faq">Monitors</a></li>
                    <li><a href="/faq">Keyboards</a></li>
                    <li><a href="/faq">Mouses</a></li>
                </ul>

            </div>



        </div>


        <div class="footer_box b2">
            <h1>ACCOUNT</h1>

            <br>
            <div class="footer_nav">
                <ul>

                    <li><a href="/basket">Basket</a></li>
                    <li><a href="/login">Log In</a></li>
                    <li><a href="/login">Sign Up</a></li>


                </ul>

            </div>



        </div>

        <div class="footer_box b3">

            <div class="logo">
                <img src="/Images/logo.png" alt="logo" width="250">
            </div>



            <div class="icons">

                <a href="https://www.instagram.com/">
                    <i class='bx bxl-instagram'></i>
                </a>

                <a href="https://www.facebook.com/">
                    <i class='bx bxl-facebook'></i>
                </a>

                <a href="https://twitter.com/">
                    <i class='bx bxl-twitter'></i>
                </a>



            </div>



        </div>



    </footer>


</body>

</html>