<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Product Edit</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <div th:replace="fragments/nav_bar :: styles"></div>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<p>You are editing this Product:</p>
<p th:text="${product.Name}"></p>
<div class="form_for_editing">
    <form method="post" th:action="@{/admin/products/{id}(id=${product.Id}}" th:object="${product}">
        <label>Name:</label>
        <input type="text" th:field="*{Name}" />
        <label>Description:</label>
        <input type="textarea" th:field="*{Description}" />
        <label>Stock Level:</label>
        <input type="text" th:field="*{AmountAvailable}" />
    </form>
</div>