<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PCLabs | Admin Order View</title>
    <link rel="stylesheet" type="text/css" href="/css/global.css" />
    <link rel="stylesheet" type="text/css" href="/css/adminglobal.css" />
    <link rel="stylesheet" type="text/css" href="/css/adminorders.css" />
    <div th:replace="fragments/nav_bar :: styles"></div>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/nav_bar :: header"></div>

<div class="pagegrid">
    <div class="sidepanel">

        <div class="dashpages">
          <h6 id="current"><a th:href="@{/admin/dashboard}">Dashboard</a></h6>
  
          <br>
          <br>
          <br>
  
          <h4>ADMIN PAGES</h4>
          <p><a th:href="@{/admin/products}">View Products</a></p>
          <p><a th:href="@{/admin/products/new}">Add Product</a></p>
          <p><a th:href="@{/admin/all-orders}">View Orders</a></p>
          <p><a th:href="@{/report}">Generate Report</a></p>
          <p><a th:href="@{/admin/orders}">Analytics</a></p>
  
          <br>
          <br>
          <br>
  
          <h4>CUSTOMER PAGES</h4>
          <p><a th:href="@{/home}" class="active">Home</a></p>
          <p><a th:href="@{/products}">Products</a></p>
          <p><a th:href="@{/aboutus}">About Us</a></p> 
          <p><a th:href="@{/contactus}">Contact Us</a></p>
        </div>
  
        <div class="logout">
          <h6><a th:href="@{/basket}">Basket</a></h6>
          <h6 th:unless="${#request.userPrincipal == null}"><a href="javascript:;"
            onclick="document.getElementById('logoutForm').submit();"
            role="menuitem">Logout</a></h6>
        </div>
    </div>

    <div class="pagecontent">
        <div class="titlepage">
            <h3>Orders</h3>
        </div>
        <div class="ordersections">
            <div class="unprocessedorders" id="box">
                <div class="statustitle">
                    <h4>UNPROCESSED</h4>
                </div>
                <div class="cardstack">
                    <div class="cardsorder" id="headingsorder">
                        <div class="orderidsect">
                            <p>Order ID</p>
                        </div>
                        <div class="transactionsect">
                            <p>Transaction Number</p>
                        </div>
                        <div class="datesect">
                            <p>Order Date</p>
                        </div>
                        <div class="amountsect">
                            <p>Order Amount</p>
                        </div>
                        <div class="ordersatus">
                            <p>Order Status</p>
                        </div>
                    </div>
                    <div th:each="order : ${unprocessedOrders}" class="cardsorder">
                        <div class="orderidsect">
                            <p th:text="${order.id}" style="cursor: pointer;"
                               th:attr="onclick=|rowClicked('${order.id}')|">Order ID</p>
                        </div>
                        <div class="transactionsect" style="cursor: pointer;"
                             th:attr="onclick=|rowClicked('${order.id}')|">
                            <p th:text="${order.transactionNumber}">Transaction Number</p>
                        </div>
                        <div class="datesect" style="cursor: pointer;"
                             th:attr="onclick=|rowClicked('${order.id}')|">
                            <p th:text="${#temporals.format(order.orderDate, 'dd/MM/yyyy HH:mm:ss')}">Order Date</p>
                        </div>
                        <div class="amountsect" style="cursor: pointer;"
                             th:attr="onclick=|rowClicked('${order.id}')|">
                            <p th:text="${#numbers.formatCurrency(order.orderAmount)}">Order Amount</p>
                        </div>
                        <div class="ordersatus">
                            <form th:action="@{/admin/status_dropdown}" method="post">
                                <input type="hidden" name="orderId" th:value="${order.id}" />
                                <select name="orderStatus" class="orderst" onchange="this.form.submit()">
                                    <option th:selected="${order.status.toString()} == 'Unprocessed'" value="unprocessed">Unprocessed</option>
                                    <option th:selected="${order.status.toString()} == 'Processed'" value="processed">Processed</option>
                                    <option th:selected="${order.status.toString()} == 'Shipped'" value="shipped">Shipped</option>
                                    <option th:selected="${order.status.toString()} == 'Success'" value="success">Success</option>
                                    <option th:selected="${order.status.toString()} == 'Failed'" value="failed">Failed</option>
                                </select>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="processedorders">
                <div class="statustitle" id="box">
                    <h4>PROCESSED</h4>
                </div>
                <div class="cardstack">
                    <div class="cardsorder" id="headingsorder">
                        <div class="orderidsect">
                            <p>Order ID</p>
                        </div>
                        <div class="transactionsect">
                            <p>Transaction Number</p>
                        </div>
                        <div class="datesect">
                            <p>Order Date</p>
                        </div>
                        <div class="amountsect">
                            <p>Order Amount</p>
                        </div>
                        <div class="ordersatus">
                            <p>Order Status</p>
                        </div>
                    </div>
                    <div th:each="order : ${processedOrders}" class="cardsorder">
                        <div class="orderidsect">
                            <p th:text="${order.id}" style="cursor: pointer;"
                               th:attr="onclick=|rowClicked('${order.id}')|">Order ID</p>
                        </div>
                        <div class="transactionsect" style="cursor: pointer;"
                             th:attr="onclick=|rowClicked('${order.id}')|">
                            <p th:text="${order.transactionNumber}">Transaction Number</p>
                        </div>
                        <div class="datesect" style="cursor: pointer;"
                             th:attr="onclick=|rowClicked('${order.id}')|">
                            <p th:text="${#temporals.format(order.orderDate, 'dd/MM/yyyy HH:mm:ss')}">Order Date</p>
                        </div>
                        <div class="amountsect" style="cursor: pointer;"
                             th:attr="onclick=|rowClicked('${order.id}')|">
                            <p th:text="${#numbers.formatCurrency(order.orderAmount)}">Order Amount</p>
                        </div>
                        <div class="ordersatus">
                            <form th:action="@{/admin/status_dropdown}" method="post">
                                <input type="hidden" name="orderId" th:value="${order.id}" />
                                <select name="orderStatus" class="orderst" onchange="this.form.submit()">
                                    <option th:selected="${order.status.toString()} == 'Unprocessed'" value="unprocessed">Unprocessed</option>
                                    <option th:selected="${order.status.toString()} == 'Processed'" value="processed">Processed</option>
                                    <option th:selected="${order.status.toString()} == 'Shipped'" value="shipped">Shipped</option>
                                    <option th:selected="${order.status.toString()} == 'Success'" value="success">Success</option>
                                    <option th:selected="${order.status.toString()} == 'Failed'" value="failed">Failed</option>
                                </select>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shippedorders" id="box">
                <div class="statustitle">
                    <h4>SHIPPED</h4>
                </div>
                <div class="cardstack">
                    <div class="cardsorder" id="headingsorder">
                        <div class="orderidsect">
                            <p>Order ID</p>
                        </div>
                        <div class="transactionsect">
                            <p>Transaction Number</p>
                        </div>
                        <div class="datesect">
                            <p>Order Date</p>
                        </div>
                        <div class="amountsect">
                            <p>Order Amount</p>
                        </div>
                        <div class="ordersatus">
                            <p>Order Status</p>
                        </div>
                    </div>
                    <div th:each="order : ${shippedOrders}" class="cardsorder">
                        <div class="orderidsect" style="cursor: pointer;"
                             th:attr="onclick=|rowClicked('${order.id}')|">
                            <p th:text="${order.id}">Order ID</p>
                        </div>
                        <div class="transactionsect" style="cursor: pointer;"
                             th:attr="onclick=|rowClicked('${order.id}')|">
                            <p th:text="${order.transactionNumber}">Transaction Number</p>
                        </div>
                        <div class="datesect" style="cursor: pointer;"
                             th:attr="onclick=|rowClicked('${order.id}')|">
                            <p th:text="${#temporals.format(order.orderDate, 'dd/MM/yyyy HH:mm:ss')}">Order Date</p>
                        </div>
                        <div class="amountsect" style="cursor: pointer;"
                             th:attr="onclick=|rowClicked('${order.id}')|">
                            <p th:text="${#numbers.formatCurrency(order.orderAmount)}">Order Amount</p>
                        </div>
                        <div class="ordersatus">
                            <form th:action="@{/admin/status_dropdown}" method="post">
                                <input type="hidden" name="orderId" th:value="${order.id}" />
                                <select name="orderStatus" class="orderst" onchange="this.form.submit()">
                                    <option th:selected="${order.status.toString()} == 'Unprocessed'" value="unprocessed">Unprocessed</option>
                                    <option th:selected="${order.status.toString()} == 'Processed'" value="processed">Processed</option>
                                    <option th:selected="${order.status.toString()} == 'Shipped'" value="shipped">Shipped</option>
                                    <option th:selected="${order.status.toString()} == 'Success'" value="success">Success</option>
                                    <option th:selected="${order.status.toString()} == 'Failed'" value="failed">Failed</option>
                                </select>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="successorders" id="box">
                <div class="statustitle">
                    <h4>SUCCESS</h4>
                </div>
                <div class="cardstack">
                    <div class="cardsorder" id="headingsorder">
                        <div class="orderidsect">
                            <p>Order ID</p>
                        </div>
                        <div class="transactionsect">
                            <p>Transaction Number</p>
                        </div>
                        <div class="datesect">
                            <p>Order Date</p>
                        </div>
                        <div class="amountsect">
                            <p>Order Amount</p>
                        </div>
                        <div class="ordersatus">
                            <p>Order Status</p>
                        </div>
                    </div>
                    <div th:each="order : ${successOrders}" class="cardsorder">
                        <div class="orderidsect" style="cursor: pointer;"
                             th:attr="onclick=|rowClicked('${order.id}')|">
                            <p th:text="${order.id}">Order ID</p>
                        </div>
                        <div class="transactionsect" style="cursor: pointer;"
                             th:attr="onclick=|rowClicked('${order.id}')|">
                            <p th:text="${order.transactionNumber}">Transaction Number</p>
                        </div>
                        <div class="datesect" style="cursor: pointer;"
                             th:attr="onclick=|rowClicked('${order.id}')|">
                            <p th:text="${#temporals.format(order.orderDate, 'dd/MM/yyyy HH:mm:ss')}">Order Date</p>
                        </div>
                        <div class="amountsect" style="cursor: pointer;"
                             th:attr="onclick=|rowClicked('${order.id}')|">
                            <p th:text="${#numbers.formatCurrency(order.orderAmount)}">Order Amount</p>
                        </div>
                        <div class="ordersatus">
                            <form th:action="@{/admin/status_dropdown}" method="post">
                                <input type="hidden" name="orderId" th:value="${order.id}" />
                            <select name="orderStatus" class="orderst" onchange="this.form.submit()">
                                <option th:selected="${order.status.toString()} == 'Unprocessed'" value="unprocessed">Unprocessed</option>
                                <option th:selected="${order.status.toString()} == 'Processed'" value="processed">Processed</option>
                                <option th:selected="${order.status.toString()} == 'Shipped'" value="shipped">Shipped</option>
                                <option th:selected="${order.status.toString()} == 'Success'" value="success">Success</option>
                                <option th:selected="${order.status.toString()} == 'Failed'" value="failed">Failed</option>
                            </select>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="failedorders" id="box">
                <div class="statustitle">
                    <h4>FAILED</h4>
                </div>
                <div class="cardstack">
                    <div class="cardsorder" id="headingsorder">
                        <div class="orderidsect">
                            <p>Order ID</p>
                        </div>
                        <div class="transactionsect">
                            <p>Transaction Number</p>
                        </div>
                        <div class="datesect">
                            <p>Order Date</p>
                        </div>
                        <div class="amountsect">
                            <p>Order Amount</p>
                        </div>
                        <div class="ordersatus">
                            <p>Order Status</p>
                        </div>
                    </div>
                    <div th:each="order : ${failedOrders}" class="cardsorder">
                        <div class="orderidsect" style="cursor: pointer;"
                             th:attr="onclick=|rowClicked('${order.id}')|">
                            <p th:text="${order.id}">Order ID</p>
                        </div>
                        <div class="transactionsect" style="cursor: pointer;"
                             th:attr="onclick=|rowClicked('${order.id}')|">
                            <p th:text="${order.transactionNumber}">Transaction Number</p>
                        </div>
                        <div class="datesect" style="cursor: pointer;"
                             th:attr="onclick=|rowClicked('${order.id}')|">
                            <p th:text="${#temporals.format(order.orderDate, 'dd/MM/yyyy HH:mm:ss')}">Order Date</p>
                        </div>
                        <div class="amountsect" style="cursor: pointer;"
                             th:attr="onclick=|rowClicked('${order.id}')|">
                            <p th:text="${#numbers.formatCurrency(order.orderAmount)}">Order Amount</p>
                        </div>
                        <div class="ordersatus">
                            <form th:action="@{/admin/status_dropdown}" method="post">
                                <input type="hidden" name="orderId" th:value="${order.id}" />
                                <select name="orderStatus" class="orderst" onchange="this.form.submit()">
                                    <option th:selected="${order.status.toString()} == 'Unprocessed'" value="unprocessed">Unprocessed</option>
                                    <option th:selected="${order.status.toString()} == 'Processed'" value="processed">Processed</option>
                                    <option th:selected="${order.status.toString()} == 'Shipped'" value="shipped">Shipped</option>
                                    <option th:selected="${order.status.toString()} == 'Success'" value="success">Success</option>
                                    <option th:selected="${order.status.toString()} == 'Failed'" value="failed">Failed</option>
                                </select>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  </div>
  

  <div th:replace="fragments/footer :: footer"></div>


</body>

<script>
    function statusClicked(id) {
        location.href = "/admin/edit_order/" + id;
    }

    function rowClicked(id) {
        location.href = "/admin/view_order/" + id;
    }
</script>

</html>