<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PCLabs | Admin Order View</title>
    <link rel="stylesheet" type="text/css" href="/css/global.css" />
    <link rel="stylesheet" type="text/css" href="/css/adminglobal.css" />
    <link rel="stylesheet" type="text/css" href="/css/adminorders.css" />
    <div th:replace="fragments/nav_bar :: styles"></div>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/nav_bar :: header"></div>

<div class="pagegrid">
    <div class="sidepanel">

        <div class="dashpages">
          <h6 id="current"><a th:href="@{/admin/dashboard}">Dashboard</a></h6>
  
          <br>
          <br>
          <br>
  
          <h4>ADMIN PAGES</h4>
          <p><a th:href="@{/admin/products}">View Products</a></p>
          <p><a th:href="@{/admin/products/new}">Add Product</a></p>
          <p><a th:href="@{/admin/all-orders}">View Orders</a></p>
          <p><a th:href="@{/report/add}">Generate Report</a></p>
          <p><a th:href="@{/admin/orders}">Analytics</a></p>
  
          <br>
          <br>
          <br>
  
          <h4>CUSTOMER PAGES</h4>
          <p><a th:href="@{/home}" class="active">Home</a></p>
          <p><a th:href="@{/products}">Products</a></p>
          <p><a th:href="@{/aboutus}">About Us</a></p> 
          <p><a th:href="@{/contactus}">Contact Us</a></p>
        </div>
  
        <div class="logout">
          <h6><a th:href="@{/basket}">Basket</a></h6>
          <h6 th:unless="${#request.userPrincipal == null}"><a href="javascript:;"
            onclick="document.getElementById('logoutForm').submit();"
            role="menuitem">Logout</a></h6>
        </div>
    </div>

    <div class="pagecontent">
        <div class="titlepage">
            <h3>Orders</h3>
        </div>
        <div class="ordersections">
            <div class="unprocessedorders" id="box">
                <div class="statustitle">
                    <h4>UNPROCESSED</h4>
                </div>
                <div class="cardstack">
                    <div class="cardsorder">
                        <div class="orderidsect">
                            <p>Order ID</p>
                        </div>
                        <div class="transactionsect">
                            <p>Transaction Number</p>
                        </div>
                        <div class="datesect">
                            <p>Order Date</p>
                        </div>
                        <div class="amountsect">
                            <p>Order Amount</p>
                        </div>
                        <div class="ordersatus">
                            <select class="orderst">
                                <option>Unprocessed</option>
                                <option>Processed</option>
                                <option>Shipped</option>
                                <option>Success</option>
                                <option>Failed</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="processedorders">
                <div class="statustitle" id="box">
                    <h4>PROCESSED</h4>
                </div>
                <div class="cardstack">
                    <div class="cardsorder">
                        <div class="orderidsect">
                            <p>Order ID</p>
                        </div>
                        <div class="transactionsect">
                            <p>Transaction Number</p>
                        </div>
                        <div class="datesect">
                            <p>Order Date</p>
                        </div>
                        <div class="amountsect">
                            <p>Order Amount</p>
                        </div>
                        <div class="ordersatus">
                            <select class="orderst">
                                <option>Unprocessed</option>
                                <option>Processed</option>
                                <option>Shipped</option>
                                <option>Success</option>
                                <option>Failed</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shippedorders" id="box">
                <div class="statustitle">
                    <h4>SHIPPED</h4>
                </div>
                <div class="cardstack">
                    <div class="cardsorder">
                        <div class="orderidsect">
                            <p>Order ID</p>
                        </div>
                        <div class="transactionsect">
                            <p>Transaction Number</p>
                        </div>
                        <div class="datesect">
                            <p>Order Date</p>
                        </div>
                        <div class="amountsect">
                            <p>Order Amount</p>
                        </div>
                        <div class="ordersatus">
                            <select class="orderst">
                                <option>Unprocessed</option>
                                <option>Processed</option>
                                <option>Shipped</option>
                                <option>Success</option>
                                <option>Failed</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="successorders" id="box">
                <div class="statustitle">
                    <h4>SUCCESS</h4>
                </div>
                <div class="cardstack">
                    <div class="cardsorder">
                        <div class="orderidsect">
                            <p>Order ID</p>
                        </div>
                        <div class="transactionsect">
                            <p>Transaction Number</p>
                        </div>
                        <div class="datesect">
                            <p>Order Date</p>
                        </div>
                        <div class="amountsect">
                            <p>Order Amount</p>
                        </div>
                        <div class="ordersatus">
                            <select class="orderst">
                                <option>Unprocessed</option>
                                <option>Processed</option>
                                <option>Shipped</option>
                                <option>Success</option>
                                <option>Failed</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="failedorders" id="box">
                <div class="statustitle">
                    <h4>FAILED</h4>
                </div>
                <div class="cardstack">
                    <div class="cardsorder">
                        <div class="orderidsect">
                            <p>Order ID</p>
                        </div>
                        <div class="transactionsect">
                            <p>Transaction Number</p>
                        </div>
                        <div class="datesect">
                            <p>Order Date</p>
                        </div>
                        <div class="amountsect">
                            <p>Order Amount</p>
                        </div>
                        <div class="ordersatus">
                            <select class="orderst">
                                <option>Unprocessed</option>
                                <option>Processed</option>
                                <option>Shipped</option>
                                <option>Success</option>
                                <option>Failed</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  </div>
  

  <div th:replace="fragments/footer :: footer"></div>




<div class="importContainer text-center">
    <div class="alert alert-danger mt-2 text-center" role="alert" th:each="unprocessedOrder : ${unprocessedOrders}">
        Order [[${unprocessedOrder.transactionNumber}]] is [[${unprocessedOrder.status.toString().toLowerCase()}]].
        <a class="alert-link" th:href="@{/admin/edit_order/{id}(id=${unprocessedOrder.id})}">Click here to edit.</a>
    </div>
    <table class="table table-striped table-bordered mt-2">
        <thead class="thead-dark">
        <tr>
            <th>Order ID</th>
            <th>Transaction Number</th>
            <th>Order Date</th>
            <th>Order Amount</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${allOrders}" >
            <td th:text="${order.id}" style="cursor: pointer;" th:attr="onclick=|rowClicked('${order.id}')|"></td>
            <td th:text="${order.transactionNumber}" style="cursor: pointer;"
                th:attr="onclick=|rowClicked('${order.id}')|"></td>
            <td th:text="${#temporals.format(order.orderDate, 'dd/MM/yyyy HH:mm:ss')}" style="cursor: pointer;"
                th:attr="onclick=|rowClicked('${order.id}')|"></td>
            <td th:text="${#numbers.formatCurrency(order.orderAmount)}" style="cursor: pointer;"
                th:attr="onclick=|rowClicked('${order.id}')|"></td>
            <td class="hover-underline-container" th:attr="onclick=|statusClicked('${order.id}')|">
                <div class="hover-underline-animation" th:text="${order.status.toString()}"></div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>

<script>
    function statusClicked(id) {
        location.href = "/admin/edit_order/" + id;
    }

    function rowClicked(id) {
        location.href = "/admin/view_order/" + id;
    }
</script>

</html>