<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Orders Summary</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">

            <div class="container">
            <h2>Orders Summary</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Time Period</th>
                    <th>Total Orders</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Daily</td>
                    <td th:text="${#lists.size(dayOrders)}"></td>
                </tr>
                <tr>
                    <td>Weekly</td>
                    <td th:text="${#lists.size(weekOrders)}"></td>
                </tr>
                <tr>
                    <td>Monthly</td>
                    <td th:text="${#lists.size(monthOrders)}"></td>
                </tr>
                <tr>
                    <td>Yearly</td>
                    <td th:text="${#lists.size(yearOrders)}"></td>
                </tr>
                <tr>
                    <td>All</td>
                    <td th:text="${#lists.size(allOrders)}"></td>
                </tr>
                </tbody>
            </table>
            </div>

            <div class="container">
                <h2>Revenue Summary</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Time Period</th>
                        <th>Total Revenue</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Daily</td>
                        <td th:text="${'&pound;' + #aggregates.sum(dayOrders.![orderAmount]) ?: '0.00'}"></td>
                    </tr>
                    <tr>
                        <td>Weekly</td>
                        <td th:text="${'&pound;' + #aggregates.sum(weekOrders.![orderAmount])}"></td>
                    </tr>
                    <tr>
                        <td>Monthly</td>
                        <td th:text="${'&pound;' + #aggregates.sum(monthOrders.![orderAmount])}"></td>
                    </tr>
                    <tr>
                        <td>Yearly</td>
                        <td th:text="${'&pound;' + #aggregates.sum(yearOrders.![orderAmount])}"></td>
                    </tr>
                    <tr>
                        <td>All</td>
                        <td th:text="${'&pound;' + #aggregates.sum(allOrders.![orderAmount])}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="container">
                <h1>Profits</h1>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Time Period</th>
                        <th>Total Profit</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Daily</td>
                        <td th:text="${dayProfit}"></td>
                    </tr>
                    <tr>
                        <td>Weekly</td>
                        <td th:text="${weekProfit}"></td>
                    </tr>
                    <tr>
                        <td>Monthly</td>
                        <td th:text="${monthProfit}"></td>
                    </tr>
                    <tr>
                        <td>Yearly</td>
                        <td th:text="${yearProfit}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>