<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Basket - Group 22</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <div th:replace="fragments/nav_bar :: styles"></div>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/nav_bar :: header"></div>

<div class="container text-center">
    <div th:if="${isNotLoggedIn}" class="mt-2 alert alert-danger">Sorry. You need to be logged in to
        add items to your
        basket.
    </div>
    <div th:if="${empty}" class="mt-2 alert alert-secondary">
        Your basket is currently empty right now.
    </div>
    <table class="table table-striped table-bordered" th:if="${listBaskets != null}">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Total</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="basket: ${listBaskets}">
            <td th:text="${basket.product.Name}"></td>
            <td th:text="${basket.amount}"></td>
            <td th:text="${#numbers.formatCurrency(basket.product.Amount*basket.amount)}"></td>
            <td>
                <a th:href="@{/basket_delete/{id}(id=${basket.id})}" class="btn btn-danger" style="margin-top: -1px;">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>