<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/contactus.css">
    <link href="/css/global.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>PCLabs | Contact Us</title>
</head>

<body>
    <div th:replace="fragments/nav_bar :: header">
    </div>
    <div class="page-contactUs">
        <div class="login-container">
            <div class="login-form">
                <div class="spacing"></div>
                <h3>CONTACT US</h3>
                <form>
                    <div class="inputs-contact">
                        <input placeholder="Email Address" type="email" class="input-forms" required="">
                    </div>
                    <div class="inputs-contact">
                        <input placeholder="Phone Number" type="Phone Number" class="input-forms" required="">
                    </div>
                    <div class="inputs-contact">
                        <textarea id="message" name="message" placeholder="Write something.." style="height:170px"></textarea>
                    </div>
                    <button>
                        SUBMIT
                    </button>

                </form>
                <div class="spacing"><br></div>
            </div>
            <div class="login-video">
                <video autoplay muted loop>
                    <source src="/Images/loginBackingEdit.mp4" type="video/mp4" />
                </video>
            </div>
        </div>
    </div>

    <div class="footer-acc">
        <div th:replace="fragments/footer :: footer"></div>
    </div>

</body>

</html>