<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    <div th:replace="fragments/nav_bar :: header">
        </div>
    <div class="page-contactUs">
        <div class="login-container">
            <div class="login-form">
                <div class="spacing"></div>
                <h3>CONTACT US</h3>
                <form>
                    <div class="inputs-contact">
                        <input placeholder="Email Address" type="email" class="input-forms" required="">
                    </div>
                    <div class="inputs-contact">
                        <input placeholder="Phone Number" type="Phone Number" class="input-forms" required="">
                    </div>
                    <div class="inputs-contact">
                       <textarea id="message" name="message" placeholder="Write something.." style="height:170px"></textarea>
                      </div>
                    <button class="full-rounded">
                        <span>Submit</span>
                        <div class="border full-rounded"></div>
                    </button>
                  
                </form>
                <div class="spacing"><br></div>
            </div>
            <div class="login-video">
                <video autoplay muted loop>
                    <source src="loginBackingEdit.mp4" type="video/mp4" />
                </video>
            </div>
        </div>
    </div>
</body>
</html>