<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>PCLab | Home</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <div th:replace="fragments/nav_bar :: styles"></div>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

    <!--backto top-->


    <script src="/scripts/top_to-bottom.js"></script>
    <script src="/scripts/jquery.carouFredSel-6.2.0-packed.js" type="text/javascript"></script>
    <script type="text/javascript">
  $(function() {
    $('#carousel').carouFredSel({
      responsive: true,
      items: {
        visible: 1,
        width: 900,
        height: 500
      },
      scroll: {
        duration: 800,
        timeoutDuration: 3500,
        //fx: 'uncover-fade'
        fx: 'crossfade'
      },
      pagination: '#pager'
    });
  });
</script>
</head>
<body>
<div class="back_area">
    <div id="carousel">
        <div><img src="/Images/header_1.jpg" /></div>
        <div><img src="/Images/header_2.jpg" /></div>
        <div><img src="/Images/header_3.jpg" /></div>
    </div>
</div>
<!--back_area-->


<!-- Nav Bar -->
<div th:replace="fragments/nav_bar :: header"></div>


<div class="wrapper">
    <header>
        <div class="header_content">
            <h1>Lorem ipsum dolor sit amet</h1>
            <h2>consectetur adipisicing elit
                sed do eiusmod tempor</h2>

        </div>

    </header>
    <div class="c"></div>
    <div class="home_row1">
        <h1>Our Projects</h1>
        <div class="cards-homepage">

            <div class="homepage-card">
                <div class="homepage-card2" id="hcard1">
                    <p>GPUs</p>
                </div>
            </div>

            <div class="homepage-card">
                <div class="homepage-card2" id="hcard2">
                    <p>CPUs</p>
                </div>
            </div>

            <div class="homepage-card">
                <div class="homepage-card2" id="hcard3">
                    <p>Monitors</p>
                </div>
            </div>

            <div class="homepage-card">
                <div class="homepage-card2" id="hcard4">
                    <p>Keyboards</p>
                </div>
            </div>

            <div class="homepage-card">
                <div class="homepage-card2" id="hcard4">
                    <p>Keyboards</p>
                </div>
            </div>

            <div class="homepage-card">
                <div class="homepage-card2" id="hcard5">
                    <p>Mouses</p>
                </div>
            </div>

        </div>
    </div>
    <!--home_row1-->
    <div class="c"></div>
    <div class="home_row1 extra_line">
        <h1>In the News</h1>
        <div class="home_row1_col1"> <img src="images/img_4.jpg" />
            <div class="home_row1_col1_row1">
                <h1 >AGCEW awarded Club Vista</h1>
                <h2>latest news</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exer.</p>
                <a href="#">More</a> </div>
        </div>
        <!--home_row1_col1-->
        <div class="home_row1_col2">
            <h2>Latest</h2>
            <marquee direction="up" onmouseover="this.stop();" onmouseout="this.start();">
                <ul>
                    <li><a href="#">AGCEW awarded Club Vista</a></li>
                    <li><a href="#">New ISO Certification</a></li>
                    <li><a href="#">AGCEW awarded Hotel Renovation</a></li>
                    <li><a href="#">Index Exhibition 2011</a></li>
                </ul>
            </marquee>
        </div>
        <!--home_row1_col2-->
    </div>
    <!--home_row2-->

</div>
<!--wrapper-->


<div class="c"></div>
<footer>
<p>add footer here</p>
</footer>
</body>
</html>