<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>PCLab | Home</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/aboutus.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <div th:replace="fragments/nav_bar :: styles"></div>
    <link
      href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic"
      rel="stylesheet"
      type="text/css"
    />

    <!--backto top-->

    <script src="/scripts/top_to-bottom.js"></script>
    <script
      src="/scripts/jquery.carouFredSel-6.2.0-packed.js"
      type="text/javascript"
    ></script>
    <script type="text/javascript">
      $(function () {
        $("#carousel").carouFredSel({
          responsive: true,
          items: {
            visible: 1,
            width: 900,
            height: 500,
          },
          scroll: {
            duration: 800,
            timeoutDuration: 3500,
            //fx: 'uncover-fade'
            fx: "crossfade",
          },
          pagination: "#pager",
        });
      });
    </script>
  </head>
  <body>
    <!-- Nav Bar -->
    <div th:replace="fragments/nav_bar :: header"></div>

    <div class="homecontent">
      <div class="video-container">
        <video autoplay muted loop>
          <source src="/Images/loginBackingEdit.mp4" type="video/mp4" />
        </video>
        <div class="caption">
          <h2>WELCOME</h2>
        </div>
      </div>

      <div class="texthome">
        <div class="texthome-wrapper">
            <h4>
                WELCOME TO PC LABS. WE AIM TO PROVIDE THE BEST QUALITY
                PRODUCTS FOR THE BEST PRICE.
              </h4>
              <p>
                Whether you are looking for a new graphics card, processor, RAM,
                 mouse, or motherboard, we have it all at competitive prices. Browse our 
                 catalog today and find the best deals on PC parts online. PCLabs - where 
                 quality meets affordability.
              </p>
        </div>
      </div>

      
      <div class="categorieshome">
        <div class="home_row1 home_row1_addition">
          <h1>Our Products</h1>
          <div class="cards-homepage">
            <a class="homepage-card" th:href="@{/products/list/gpu}">
              <div class="homepage-card2" id="hcard1">
                <p>GPUs</p>
              </div>
            </a>

            <div class="homepage-card">
              <div class="homepage-card2" id="hcard2">
                <p>CPUs</p>
              </div>
            </div>

            <a class="homepage-card" th:href="@{/products/list/motherboard}">
              <div class="homepage-card2" id="hcard3">
                <p>Motherboard</p>
              </div>
            </a>

            <a class="homepage-card" th:href="@{/products/list/memory}">
              <div class="homepage-card2" id="hcard4">
                <p>Memory</p>
              </div>
            </a>

            <div class="homepage-card">
              <div class="homepage-card2" id="hcard5">
                <p>Mouse</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="bottominfo">

        <div class="infotitle">
          <h1>LATEST NEWS</h1>
        </div>

        <div class="imageinfo">
          <img src="/Images/blackpc.png" />
        </div>
        <div class="home_row1_col1_row1">
          <h1>TAKE ADVANTAGE OF THE LOW PRICES</h1>
          <p>
            We are excited to announce our latest deals on 
            PC parts and accessories! Whether you're in the market 
            for a new graphics card, processor, or any other component,
             we've got you covered. Our deals are updated regularly, so be
              sure to check back often to see what's new. With discounts on 
              some of the hottest products in the industry, now is the perfect
               time to upgrade your system or build a new one from scratch. Don't
                miss out on these amazing deals – shop with us today and take advantage
                 of the best prices on the market!
          </p>
        </div>
        <div class="home_row1_col2">
          <h2>HOT DEALS</h2>
          <marquee
            direction="up"
            onmouseover="this.stop();"
            onmouseout="this.start();"
          >
            <ul>
              <li><a href="#">Lorem ipsum dolor sit amet</a></li>
              <li><a href="#">Consectetur adipisicing elit</a></li>
              <li><a href="#">Sed do eiusmod tempor incididunt ut</a></li>
              <li><a href="#">Dolore magna aliqua</a></li>
            </ul>
          </marquee>
        </div>


       
      </div>

      <div class="carouselinfo">
        <div class="back_area">
          <div id="carousel">
            <div><img src="/Images/carousel1.png" /></div>
            <div><img src="/Images/carousel2.png" /></div>
            <div><img src="/Images/carousel3.png" /></div>
          </div>
        </div>
      </div>


      <div class="texthome2">
        <div class="texthome-wrapper">
          <h4>
            WE SPECIALISE IN PROVIDING TOP QUALTY OMPUTER COMPONENTS AND ACCESSORIES AT
            COMPETITIVE PRICES.
          </h4>
          <p>
            Our extensive inventory includes the latest products from the industry's
             leading brands, ensuring that you have access to the best selection of
              parts for your computer. Our commitment to providing our customers with
               fast and reliable shipping ensures that you receive your items quickly
                and safely. Shop with us today and experience the difference that our
                 dedication to quality and customer service can make for you!
          </p>
        </div>
      </div>


      <div class="redirhome">
        <div class="textredir">
          <h5>WANT ACCESS TO QUALITY PRODUCTS FOR LOW PRICES?</h5>
          <button>SIGN UP</button>
        </div>
      </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
  </body>
</html>
