<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
   
  <main class="container">
 
  <!-- Left Column / Headphones Image -->
  <div class="left-column">
 
    <img data-image="red" class="active" src="28 G70B UHD, 144Hz, Smart Odyssey Gaming Monitor.jpg" alt="">
  </div>
 
 
  <!-- Right Column -->
  <div class="right-column">
 
    <!-- Product Description -->
    <div class="product-description">
      <!--THIS SHOULD CHANGE DEPENDING ON PRODUCT-->
      <span>Monitors</span>
      <h1>PRODUCT NAME</h1>
      <p>Don't let hardware issues negatively impact your performance. Minimize stutter, screen tearing, input lag, and maintain high FPS rates through use of AMD FreeSync technology, no ghosting, no glitching, no blurring. 24 inch monitor also compatible with NVIDAI G-sync technology, presenting you with the most realistic and pure CG game picture quality.</p>
    </div>
 
    <!-- Product Configuration -->
    <div class="product-configuration">
 
     
      <!-- Product Quanitiy -->
      <div class="quantity-num">
        <span>Quantity</span>
 
        <div class="Num-quantity">
          <button>1</button>
          <button>2</button>
          <button>3</button>
          <button>4</button>
          <button>5</button>
          <select name="Other" id="Num-quantity"         
          <option value="N/A">N/A</option>
          <option value="Other">Other</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
        </div>
 
        <a href="#">How to configurate your headphones</a>
      </div>
    </div>
 
    <!-- Product Pricing -->
    <div class="product-price">
      <span>£148</span>
      <a href="#" class="cart-btn">Add to basket</a>
    </div>
  </div>
</main>