<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Group 22</title>
    <link rel="stylesheet"
          type="text/css"
          href="/webjars/bootstrap/css/bootstrap.min.css" />
    <div th:replace="fragments/nav_bar :: styles"></div>
    <script type="text/javascript"
            src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript"
            src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <style>
        * ol {
            list-style-type: decimal !important;
        }
    </style>
</head>

<body>

    <div th:replace="fragments/nav_bar :: header"></div>

    <div class="container mx-0">
        <div th:if="${isNotLoggedIn}"
             class="mt-2 alert alert-danger">
            Sorry. You need to be logged in to add items to view past orders.
        </div>
        <div class="row w-100" th:unless="${isNotLoggedIn}">
            <div th:if="${empty}"
                 class="mt-2 alert alert-secondary">
                You have no past orders.
            </div>
            <div class="col-12 w-100"
                 th:unless="${empty}">
                 <h1 class="display-4 mb-3">Past Orders</h1>
                 <hr class="border-dark my-4" />
                 <div th:each="order,iter: ${orders}">
                    <h5 class="h5 text-muted"
                        th:text="${'Order #' + (iter.index+1) + ' @ ' + order.orderDate}"></h5>
                    <table class="table table-dark table-striped table-sm">
                        <caption class="bg-dark small text-white text-right p-2"
                                th:text="${order.transactionNumber + ' - ' + order.orderAmount + ' - ' + order.orderDate}"></caption>
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="item: ${order.orderItems}">
                                <td th:text="${item.product.name}"></td>
                                <td th:text="${item.numOfItems}"></td>
                                <td th:text="${#numbers.formatCurrency(item.amount)}"></td>
                            </tr>
                        </tbody>
                    </table>

                    <hr class="border-dark my-5" />

                 </div>
            </div>
        </div>
    </div>

</body>

</html>