<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products Page</title>
    <meta charset="UTF-8"/>
    <title>PCLab | Home</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<!--video here-->
<div class="video-container">
    <video autoplay muted loop>
        <source src="/Images/productpageVideo.mp4" type="video/mp4" />
    </video>
    <div class="wrapper">
    <div class="caption">
        <!--Nar Bar-->
        <div class="top_box_main">
            <div class="top_bar">
                <div class="wrapper">
                    <ul class="right">
                        <li><a href="#">Login</a></li>
                        <li>| </li>
                        <li><a href="#">Signup</a></li>
                        <li>| </li>
                        <li><a href="#">Basket</a></li>
                    </ul>
                </div>
            </div>
            <!--top_bar-->
        </div><!--top_box_main-->


        <div class="wrapper pad_top">
            <div class="header_top">
                <div class="logo"> <a href="index.html"><img src="/Images/logo.png" /></a> </div>
                <div class="main_nav">
                    <nav>
                        <ul>
                            <li><a href="index.html" class="active">Home </a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="projects.html">Products </a></li>
                            <li><a href="#"> Button</a></li>
                            <li><a href="#">Contact </a></li>
                        </ul>

                    </nav>
                </div>
            </div>
        </div>


        <h2>Products</h2>
    </div>
    </div><!--wrapper-->
</div>
<div class="wrapper">
<div class="py-4 album">
    <div class="container">
        <div class="row">

<!--          <div class="col-xl-3" th:each="products : ${products}">-->
<!--              <div class="card" style="width: 16rem;">-->
<!--                  <img class="card-img-top" src="..." alt="Image">-->
<!--                  <div class="card-body">-->
<!--                      <p class="card-title" th:text = "${products.Name}"></p>-->
<!--                      <hr>-->
<!--                      <p class="card-text" th:text = "${products.Amount}"></p>-->
<!--                      <a href="#" class="btn btn-primary">Buy</a>-->
<!--                  </div>-->
<!--              </div>-->
<!--          </div>-->

            <div class="col-md-4" th:each="products : ${products}">
                <div class="card mb-4">
                    <div class="card-body">
                        <!-- <p class="card-text" th:text = "${products.ID}"></p>
                        <img class="img-custom mx-auto d-block" src="..." width="300" height="200">-->
                        <p class="card-title" th:text = "${products.Name}"></p>
                        <p class="card-text" th:text = "${products.Amount}"></p>
                        <button type="button" class="btn btn-sm btn-outline-secondary mx-auto d-block">Buy</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div><!--wrapper-->
</body>
</html>