<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body class="body_inner inner_con body_inner_pro">

<div class="wrapper">
  <div class="pro_row1">
    <div class="pro_col">
      <img src="/Images/motherboard.jpg"/>
      <h3>MotherBoard</h3>
      <h4>Price: <span>£30</span></h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
      <button class="pro_button"></button>
    </div><!--pro_col-->
    <div class="pro_col">
      <img src="/Images/motherboard.jpg"/>
      <h3>MotherBoard</h3>
      <h4>Price: <span>£30</span></h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
      <button class="pro_button"></button>
    </div><!--pro_col-->
    <div class="pro_col">
      <img src="/Images/motherboard.jpg"/>
      <h3>MotherBoard</h3>
      <h4>Price: <span>£30</span></h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
      <button class="pro_button"></button>
    </div><!--pro_col-->
  </div><!--pro_row1-->
</div><!--wrapper-->

</body>
</html>


</body>
</html>