<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>[[${product.Name}]] - Group 22</title>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <div th:replace="fragments/nav_bar :: styles"></div>
    <link rel="stylesheet" type="text/css" href="/css/global.css" />
    <link rel="stylesheet" type="text/css" href="/css/item.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/nav_bar :: header"></div>

<div class="mt-4 alert alert-success" th:if="${purchase_success}" role="alert" style="margin: 1vh 1vw">Success! Product has been added to
  basket. <a class="alert-link" th:href="@{/basket}">Click here to view it</a>
</div>
<div class="mt-4 alert alert-danger" th:if="${purchase_fail}" th:text="${purchase_fail}" role="alert" style="margin: 1vh 1vw"></div>

<main class="container">
 
    <!-- Left Column / Headphones Image -->
    <div class="left-column">
   
      <img data-image="red" class="active" th:if="${productImage != null}" th:src="@{${productImage.url}}" th:alt="${productImage.name}">
    </div>
   
   
    <!-- Right Column -->
    <div class="right-column">
   
      <!-- Product Description -->
      <div class="product-description">
        <!--THIS SHOULD CHANGE DEPENDING ON PRODUCT-->
        <span>Monitors</span>
        <h1 th:text="${product.Name}"></h1>
        <p th:text="${product.Description}"></p>
      </div>
   
      <!-- Product Configuration -->
      <div class="product-configuration">
   
       
        <!-- Product Quanitiy -->
        <div class="quantity-num">
          <span>Quantity</span>
   
          <div class="Num-quantity">
            <button>1</button>
            <button>2</button>
            <button>3</button>
            <button>4</button>
            <button>5</button>
            <select name="Other" id="Num-quantity"         
            <option value="N/A">N/A</option>
            <option value="Other">Other</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
          </div>
   
          <a href="#">How to configurate your headphones</a>
        </div>
      </div>
   
      <!-- Product Pricing -->
      <div class="product-price">
        <span th:text="${#numbers.formatCurrency(product.Amount)}"></span>
        <button type="submit">
            ADD TO BASKET
        </button>
      </div>
    </div>
</main>

<div th:replace="fragments/footer :: footer"></div>







<div class="importContainer text-center" style="max-width: 700px;">
    <div class="mt-4 alert alert-success" th:if="${purchase_success}" role="alert">Success! Product has been added to
        basket. <a class="alert-link" th:href="@{/basket}">Click here to view it</a>
    </div>
    <div class="mt-4 alert alert-danger" th:if="${purchase_fail}" th:text="${purchase_fail}" role="alert"></div>
    <div class="h1 mt-4" th:text="${product.Name}"></div>
    <p th:text="${product.Description}"></p>
    <div class="text-danger" th:if="${product.OnSale}">
        <del th:text="${#numbers.formatCurrency(product.Amount)}" style="text-decoration: line-through !important;"></del>&nbsp;
        <strong th:text="${#numbers.formatCurrency(product.Amount - product.Amount * product.Sale)}"></strong>
    </div>
    <p class="text-muted" th:if="!${product.OnSale}" th:text="${#numbers.formatCurrency(product.Amount)}"></p>
    <div class="alert alert-warning" role="alert"
         th:if="${product.AmountAvailable <= 20 && product.AmountAvailable >= 1}">
        Warning! This item is low in stock. <strong>Only [[${product.AmountAvailable}]] left</strong>
    </div>
    <div class="alert alert-danger" role="alert" th:if="${product.AmountAvailable < 1}">
        Warning! The product is out of stock.
    </div>
    <img th:if="${productImage != null}" th:src="@{${productImage.url}}" th:alt="${productImage.name}" class="img-fluid"
         style="object-fit: cover; max-height: 400px;"/>
    <form th:if="${product.AmountAvailable >= 1}" th:action="@{/basket/add}"
          method="post">
        <input type="hidden" th:value="${productId}" name="productId" />
        <div class="row justify-content-between mx-auto">
            <div class="col-md-9 col-sm-7 col-12">
                <input type="number" th:value="${numOrdered}" min="1" value="1" class="form-control"
                       placeholder="Amount" name="numOrdered"/>
            </div>
            <div class="col-md-3 col-sm-5 col-12 mt-3 mt-sm-0">
                <button type="submit" class="btn btn-primary">Add to Basket</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>