<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1" />
    <title>PCLabs | Sign Up</title>
    <link rel="stylesheet" type="text/css" href="/css/global.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="/css/accountforms.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
    <div th:replace="fragments/nav_bar :: header"></div>


    <div class="login-box">
        <div class="account-form">
            <div class="spacing"></div>

            <h3>SIGN UP</h3>

            <form th:action="@{/process_register}" th:object="${user}" method="post">
                <div th:if="${errorMsg}" th:text="${errorMsg}" style="color: red"></div>

                <div th:if="${successMsg}" class="success-msg">
                    Success! <a th:href="@{/login}">Click here to Log In</a>
                </div>

                <div class="inputs-account">
                    <input type="text" th:field="*{username}" class="form-control" required minlength="2" maxlength="45" placeholder="Username" />
                </div>

                <div class="inputs-account">
                    <input type="email" th:field="*{email}" class="form-control" placeholder="Email" required />
                </div>

                <div class="inputs-account">
                    <input type="password" th:field="*{password}" class="form-control" required minlength="6" maxlength="64" placeholder="Password" />
                </div>

                <br>
                <button type="submit" style="cursor: pointer">
                    REGISTER
                </button>


                <div class="redirect">
                    <p>
                        Already have an account?
                        <a th:href="@{/login}" class="a2">Log In!</a>
                    </p>
                </div>
            </form>
            <div class="spacing"></div>
        </div>

        <div class="video-bar">
            <video autoplay muted loop>
            <source src="/Images/loginBackingEdit.mp4"type="video/mp4" />
        </video>
        </div>

    </div>

    <div class="footer-acc">
        <div th:replace="fragments/footer :: footer"></div>
    </div>

</body>

</html>